---
layout: page
description: "博客页面"
---

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:150 }}
        </div>
    </a>
    <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>

<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}

<div class="message-fly">
    <h2 id="bulin-message"></h2>
</div>
<div class="bulin-fly" onclick="fuckit()">
    <div class="sprite-bulin"></div>
</div>


<img src='img/Azur_scared.gif' id="Azur_scared">
<script type="text/javascript">
	$(function () {
		setInterval(function () {
			$("#Azur_scared").attr('src', 'img/Azur_scared.gif');
		}, 3200);//自动刷新
	})

</script>

<style>
	#Azur_scared {
		bottom: 100;
/* 		position: fixed; */
	}
</style>


<style>
	.sprite-bulin {
		z-index: 1;
		width: 130px;
		height: 134px;
		background-image: url(img/bulin.png);
		background-repeat: no-repeat;
		animation-name: bulinfly;
		animation-duration: 0.5s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-timing-function: steps(7);

	}

	@keyframes bulinfly {

		100% {
			background-position: -910px
		}

	}

	.bulin-fly {
        position: absolute;
		animation-duration: 14s;
		animation-name: fly;
		animation-iteration-count: infinite;
		width: 130px;
		height: 134px;
		transition-timing-function: linear;
	}

	@keyframes fly {
		0% {
			top: -300px;
			left: 0%;
			transform: rotateY(180deg)
		}
		49% {
			top: -300px;
			left: 85%;
			transform: rotateY(180deg)
		}
		50% {
			top: -300px;
			left: 85%;
			transform: rotateY(0deg)
		}
		99% {
			top: -300px;
			left: 0%;
			transform: rotateY(0deg)
		}
		100% {
			top: -300px;
			left: 0%;
		}
	}


	.message-fly {
		position: absolute;
		animation-duration: 14s;
		animation-name: fly2;
		animation-iteration-count: infinite;
		width: 150px;
		transition-timing-function: linear;
	}

	@keyframes fly2 {
		0% {
			top: -260px;
			left: 0%;
		}
		49% {
			top: -260px;
			left: 85%;
		}
		50% {
			top: -260px;
			left: 85%;
		}
		99% {
			top: -260px;
			left: 0%;
		}
		100% {
			top: -260px;
			left: 0%;
		}
	}
</style>

<script>
	function fuckit() {
		document.getElementById("bulin-message").innerHTML = "Fuck off";
		setTimeout(function () { document.getElementById("bulin-message").innerHTML = " "; }, 3000);
	}
</script>

